body.home, body.recipe {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

body.recipe {
    margin-left: 177px;
    margin-right: 568px; 
}

.home h1 {
    font-size: 64px; 
    text-align: center; 
    text-shadow: 2px 2px 50px black; 
}

.home h2 {
    font-size: 35px;
    text-align: center; 
}

.home .brand-logo {
    border-bottom: 2px solid black;
}

.home .recipe-card img {
    width: 250px;
    height: auto; 
    margin-bottom: 16px;
    margin-top: 6px; 
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.recipe-card { 
    flex: 0 1 300px; 
    text-align: center; 
    margin: -3px;  
    font-weight: 800;
}

.recipe-card a {
    text-decoration: none;
}

main header img {
    width: 500px;
    height: auto;
}
