body.home, body.recipe {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

/* ADDED */
body.recipe {
    margin-left: 177px;
    margin-right: 568px; 
}

.home h1 {
    font-size: 64px; 
    text-align: center; 
    text-shadow: 2px 2px 50px black; 
}

.home h2 {
    font-size: 32px;
    text-align: center; 
}

.home .brand-logo {
    border-bottom: 2px solid black;
}

/* CHANGED SO FUTURE IMAGES AREN'T FORCED TO 250x250 */
.home .recipe-card img {
    width: 250px;
    height: auto; 
}

.image-container {
    text-align: center; 
}

.recipe-card { 
    display: inline-block;
    text-align: center; 
    /* ADDED MARGIN */
    margin: 10px; 
    /* ONLY CENTERS BLOCK-LEVEL ELEMENTS; REMOVE */
    /* margin: 0 auto; */
}

.recipe-card a {
    display: block;
}

/* ADDED */
main header img {
    width: 500px;
    height: auto;
}

/* MOVE RECIPE CONTENT UNDERNEATH IMAGE; TRY ADDING MARGIN-RIGHT */
