body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px; 
    text-align: center; 
    text-shadow: 2px 2px 50px black; 
}

h2 {
    font-size: 32px;
    text-align: center; 

}

.recipes-list {
    text-align: center;
}

.brand-logo {
    border-bottom: 2px solid black;
}
